<h1> Single recipe viewer! </h1>
<%= @recipe.name %> </br>
<%= @recipe.ingredients %> </br>
<%= @recipe.cook_time %>

<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value = "delete">
</form>

<form action="/recipes/<%= @recipe.id %>/edit" method="get">
  <input type="submit" value = "edit">
</form>



